.bakeryProductEditVariantOptionContainer{
    background-color: white;
    height: fit-content;
    margin-top: 90px;
    position: fixed;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99 !important; 
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 5px;


    .btn-closePage{
        top: 5px;
        margin-left: 95%;
        margin-bottom: 10px;
        border: none;
        background: none;
        width: fit-content;
        padding-top: 6px;
        padding-bottom: 6px;  
        z-index: 99 !important; 
        // position: fixed;     
    }

    .bakeryProductEditVariantOptionFormContainer{
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
        // background-color: red;

        .bakeryProductEditVariantOptionForm{
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-left: 10%;
            margin-right: 10%;
            
            .bakeryProductEditVariantOptionFormTitle {
                font-weight: bold;
                font-size: 1.4em;
                margin-top: 40px;
                text-align: center;
                color: #A3006B;
            }

            .bakeryProductEditVariantOptionFormTextAndInputContainer {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                // box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
                box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
                border-radius: 5px;
                margin-bottom: 20px;

                &:hover {
                    border: solid rgb(240, 240, 240) 2px;
                }

                .bakeryProductEditVariantOptionFormText {
                    text-align: left;
                    margin-top: 5px;
                    margin-bottom: 0px;
                    margin-left: 5px;
                    font-size: 0.8em;
                    color: rgb(34, 34, 34);
                    padding: 0%;

                }

                .bakeryProductEditVariantOptionFormInput {
                    border: none;
                    height: 30px;
                    // margin-top: none;
                    width: 98%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 1px;
                    font-size: 1.2em;
                    background-color: transparent;

                    &:focus {
                        outline: none;
                        background-color: transparent;
                    }

                }
            }

            .forgotPasswordSubmitButton {
                cursor: pointer;
                color: #feffff;
                padding: 10px 12px;
                border-radius: 10px;
                text-align: center;
                margin-top: 10px;
                text-decoration: none;
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
                width: 35%;
                font-size: 1em;
                font-weight: 800;
                background-color: #A3006B;
                border: none;
                margin-bottom: 30px;


                &:hover {
                    cursor: pointer;
                    background-color: #FFACFC;
                    color: black;
                    box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
                }
            }
        }
    }



}
.bakeryProductEditVariantOptionContainer::-webkit-scrollbar{
    display: none;
}