.tooltipText{
    font-size: 15px;
    font-weight: 800;
    color: #FFACFC;
}

.bakeryProductsContainer {
    width: 100%;
    height: 100%;
    // background-color: red;
    overflow-y: scroll;
    overflow-x: hidden;

    .bakeryProductsTitleAndAddButtonContainer {
        margin-left: auto;
        margin-right: auto;
        width: 96%;
        margin-bottom: 30px;
        margin-top: 20px;
        // background-color: red;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40px;

        .bakeryProductsPageTitle {
            font-size: 1.5em;
            font-weight: 800;
            padding: none;
            padding-bottom: 10px;

        }

        .iconAndButtonContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 35px;
            width: fit-content;
            border-radius: 17.5px;
            background-color: #9C27B0;

            &:hover {
                background-color: #FFACFC;
            }
            // &:hover .addProductLink{
            //     color: black;
            // }

            .addProductLink {
                text-decoration: none;
                color: black;
                font-size: 0.7em;
                font-weight: 800;
                margin-right: 10px;
                color: white;
            }
        }
    }

    .tableSearchContainer {
        padding-top: 10px;
        background-color: #9C27B0;
        margin-left: auto;
        margin-right: auto;
        width: 96%;
        height: 60px;
        margin-bottom: auto;


    }

    .bakeryProductsTable {
        margin-left: auto;
        margin-right: auto;
        width: 96%;

        .tableHeadersContainer {
            border-radius: 5px;
            background-color: #9C27B0;

            .tableHeader {
                height: 10px;
                padding: 10px;
                background-color: #9C27B0;
                font-size: 0.9em;
                color: white;
            }

        }

    }
}
.bakeryProductsContainer::-webkit-scrollbar{
    display: none;
}