.bakeryPortalContainer{
     margin-top: 71px;
     height: 89vh;
     width: 100vw;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
    //  background-color: #FFACFC;

    .bakeryPortalAlertContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: fit-content;
        position: absolute;
        align-self: flex-start;
        margin-top: 30px;
    }

    .bakeryPortalNavBar{
        background-color: white;
        border-right: 1px solid rgb(196, 196, 196);
        height: 100%;
        width: 17%;

        .buttonsContainer{
            margin-top: 50px;            

            .iconAndButtonContainer{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10px;
                height: 55px;
                margin-left: 12px;
                margin-right: 10px;
                border-radius: 5px;
                
                &:active{
                    background-color: rgb(240, 240, 240);
                    box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);

                }

                &:hover{
                    background-color: rgb(240, 240, 240);
                    box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);

                }

                .navigationButtons{
                    border: none;
                    background-color: transparent;
                    font-size: 0.95em;
                    text-decoration: none;
                    color: black;

                    &:active{
                        color: #FFACFC;
                    }
                }
            }

        }
    }

    .bakeryPortalPagesContainer{
        height: 100%;
        // background-color: red;
        width: 83%;
    }

}