.bakeryEditProductContainer {
    width: 100%;
    height: 100%;
    // background-color: red;
    overflow-y: scroll;

    .bakeryEditProductPageTitle {
        margin-left: 23px;
        font-size: 1.5em;
        font-weight: 800;
        margin-bottom: 25px;
        margin-top: 30px;

    }

    .bakeryEditProductForm {
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        .bakeryEditProductFormBody {
            // background-color: white;
            margin-left: 23px;
            border-radius: 5px;
            width: 60%;

            .bakeryDetailsContainer {
                // border: solid black 1px;
                // box-shadow: 5px 10px;
                border-radius: 5px;
                background-color: white;
                padding-bottom: 10px;
                box-shadow: 0px 2px 2px rgb(75, 71, 71);


                .bakeryEditProductFormTitle {
                    text-align: left;
                    padding-top: 10px;
                    margin-left: 16px;
                    font-size: 0.7em;
                    font-weight: 800;
                    text-decoration: underline;

                }

                .bakeryEditProductFormNameContainer {
                    width: 96%;
                    margin-left: auto;
                    margin-right: auto;
                    // border: solid rgb(87, 86, 86) 1px;
                    box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
                    border-radius: 5px;

                    &:hover {
                        border: solid rgb(240, 240, 240) 2px;
                    }

                    .bakeryEditProductFormNameText {
                        text-align: left;
                        margin-top: 5px;
                        margin-bottom: 0px;
                        margin-left: 5px;
                        font-size: 0.8em;
                        color: rgb(34, 34, 34);
                        padding: 0%;


                    }

                    .bakeryEditProductFormInput {
                        border: none;
                        height: 30px;
                        margin-top: none;
                        width: 99%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 1px;
                        font-size: 1em;

                        &:focus {
                            outline: none;
                        }
                    }

                }

                .bakeryEditProductFormDescriptionContainer {
                    width: 96%;
                    margin-top: 25px;
                    margin-left: auto;
                    margin-right: auto;
                    // border: solid rgb(87, 86, 86) 1px;
                    box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
                    border-radius: 5px;
                    margin-bottom: 10px;

                    &:hover {
                        border: solid rgb(240, 240, 240) 2px;
                    }

                    .bakeryEditProductFormDescriptionTitle {
                        text-align: left;
                        margin-top: 5px;
                        margin-bottom: 0px;
                        margin-left: 5px;
                        font-size: 0.8em;
                        color: rgb(34, 34, 34);
                        padding: 0%;

                    }

                    .bakeryEditProductFormDescriptionTextArea {
                        border: none;
                        // height: 30px;
                        margin-top: none;
                        width: 99%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 1px;
                        font-size: 1.2em;

                        &:focus {
                            outline: none;
                        }
                    }

                }


            }

            .bakeryEditProductFormPriceContainer {
                margin-top: 30px;
                border-radius: 5px;
                background-color: white;
                padding-bottom: 10px;
                box-shadow: 0px 2px 2px rgb(75, 71, 71);

                .bakeryEditProductFormTitle {
                    text-align: left;
                    padding-top: 10px;
                    margin-left: 16px;
                    font-size: 0.7em;
                    font-weight: 800;
                    text-decoration: underline;

                }

                .bakeryEditProductFormPriceInputContainer {
                    width: 96%;
                    margin-left: auto;
                    margin-right: auto;
                    // border: solid rgb(87, 86, 86) 1px;
                    box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
                    border-radius: 5px;

                    &:hover {
                        border: solid rgb(240, 240, 240) 2px;
                    }

                    .bakeryEditProductFormNameText {
                        text-align: left;
                        margin-top: 5px;
                        margin-bottom: 0px;
                        margin-left: 5px;
                        font-size: 0.8em;
                        color: rgb(34, 34, 34);
                        padding: 0%;

                    }

                    .bakeryEditProductFormPriceInput {
                        border: none;
                        height: 30px;
                        margin-top: none;
                        width: 99%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 1px;
                        font-size: 1em;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }

            .bakeryEditProductFormImagesAndButtonContainer {
                margin-top: 30px;
                border-radius: 5px;
                background-color: white;
                padding-bottom: 10px;
                box-shadow: 0px 2px 2px rgb(75, 71, 71);
                height: fit-content;
                position: relative;

                .bakeryEditProductFormTitle {
                    text-align: left;
                    padding-top: 10px;
                    margin-left: 16px;
                    font-size: 0.7em;
                    font-weight: 800;
                    text-decoration: underline;

                }

                .bakeryEditProductFormImagesContainer {
                    min-height: 200px;
                    height: fit-content;
                    border: solid rgb(207, 207, 207) 1.5px;
                    border-style: dashed;
                    margin-bottom: 10px;
                    width: 96%;
                    margin-left: 2%;
                    margin-right: 2%;
                    display: grid;
                    grid-template-columns: auto auto auto;

                    .imageAndDeleteBtnContainer {
                        display: flex;
                        flex-direction: row;
                        margin-top: 10px;
                        height: fit-content;
                        width: fit-content;

                        &:hover .deleteImgBtn{
                            display: Block;
                            border-radius: 50%;
                            
                        }

                        .deleteImgBtn{
                            display: none;
                            background-color: transparent;
                            border: none;
                            height: 20px;
                            margin-left: 5px;
                            margin-right: 2px;
                            width: fit-content;
                            float: top;

                            &:hover{
                                box-shadow: 1px 1px 2px 1px rgb(207, 207, 207);
                                background-color: rgb(240, 240, 240);
                            }

                        }

                        .productImage {
                            width: 150px;
                            height: 150px;

                        }

                    }
                }

                .bakeryEditProductFormImagesSelectBtnContainer {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    justify-content: center;

                    .bakeryEditProductsUploadImagebtn {
                        background-color: white;
                        box-shadow: 1px 1px 2px 1px rgb(207, 207, 207);
                        padding: 10px;
                        border: none;
                        cursor: pointer;
                        border-radius: 5px;

                        &:hover {
                            background-color: rgb(240, 240, 240);
                        }


                        .iconAndTextContainer {
                            display: flex;
                            flex-direction: row;

                            .btnText {
                                padding: 0%;
                                margin-left: 5px;
                                font-size: 1em;
                                font-weight: 800;

                            }
                        }
                    }

                    .imageTypeText {
                        font-size: 0.8em;
                        font-weight: 800;
                    }
                }

            }



            .bakeryEditProductFormVariantGroupContainer {
                margin-top: 30px;
                border-radius: 5px;
                background-color: white;
                padding-bottom: 10px;
                box-shadow: 0px 2px 2px rgb(75, 71, 71);
                height: fit-content;

                .bakeryEditProductFormTitle {
                    text-align: left;
                    padding-top: 10px;
                    margin-left: 16px;
                    font-size: 0.7em;
                    font-weight: 800;
                    text-decoration: underline;

                }

                .bakeryEditProductFormVariantGroupDropdownContainer {
                    // position: relative;
                    // display: inline-block;
                    // align-content: center;
                    margin-left: 17px;
                    margin-right: auto;
                    display: flex;
                    flex-direction: row;

                    &:hover .bakeryEditProductFormVariantGroupDropdownItemContainer {
                        display: block;
                    }

                    &:hover .bakeryEditProductFormVariantGroupDropdownBtn {
                        background-color: rgb(240, 240, 240);
                    }


                    .bakeryEditProductFormVariantGroupDropdownBtn {
                        background-color: white;
                        box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
                        color: black;
                        padding: 10px;
                        font-size: 0.9em;
                        font-weight: 500;
                        border: none;
                        cursor: pointer;
                        border-radius: 5px;
                        width: 200px;
                    }

                    .bakeryEditProductFormVariantGroupDropdownItemContainer {
                        display: none;
                        box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
                        background-color: #ffffff;
                        height: 100px;
                        width: 200px;
                        overflow-y: scroll;

                        .bakeryEditProductFormVariantGroupDropdownItem {
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            font-size: 0.9em;
                            font-weight: 400;
                            display: block;
                            border-bottom: solid black 1px;
                            margin-bottom: 0%;
                            margin-top: 0%;

                            &:hover {
                                background-color: #FFACFC;
                                cursor: pointer;
                            }
                        }
                    }

                }
            }

            .bakeryEditProductFormDiscountContainer {
                margin-top: 30px;
                margin-bottom: 30px;
                border-radius: 5px;
                background-color: white;
                padding-bottom: 10px;
                box-shadow: 0px 2px 2px rgb(75, 71, 71);
                height: fit-content;


                .bakeryEditProductFormTitle {
                    text-align: left;
                    padding-top: 10px;
                    margin-left: 16px;
                    font-size: 0.7em;
                    font-weight: 800;
                    text-decoration: underline;

                }

                .bakeryEditProductFormDiscountDropdownContainer {
                    // position: relative;
                    // display: inline-block;
                    // align-content: center;
                    margin-left: 17px;
                    margin-right: auto;
                    display: flex;
                    flex-direction: row;

                    &:hover .bakeryEditProductFormDiscountDropdownItemContainer {
                        display: block;
                    }

                    &:hover .bakeryEditProductFormDiscountDropdownBtn {
                        background-color: rgb(240, 240, 240);
                    }

                    .bakeryEditProductFormDiscountDropdownBtn {
                        background-color: white;
                        box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
                        color: black;
                        padding: 10px;
                        font-size: 0.9em;
                        font-weight: 400;
                        border: none;
                        cursor: pointer;
                        border-radius: 5px;
                        width: 200px;

                    }

                    .bakeryEditProductFormDiscountDropdownItemContainer {
                        display: none;
                        box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
                        background-color: #ffffff;
                        height: 100px;
                        width: 200px;
                        overflow-y: scroll;

                        .bakeryEditProductFormDiscountDropdownItem {
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                            font-size: 0.9em;
                            font-weight: 400;
                            border-bottom: solid black 1px;
                            margin-bottom: 0%;
                            margin-top: 0%;

                            &:hover {
                                background-color: #FFACFC;
                                cursor: pointer;
                            }

                        }
                    }
                }


            }


        }

        .bakeryEditProductFormButtonsContainer {
            border-radius: 5px;
            background-color: white;
            padding-bottom: 10px;
            box-shadow: 0px 2px 2px rgb(75, 71, 71);
            width: 30%;
            margin-right: 23px;
            height: 120px;

            .bakeryEditProductFormSaveButton {
                cursor: pointer;
                color: #feffff;
                padding: 10px 12px;
                border-radius: 5px;
                text-align: center;
                margin-top: 10px;
                text-decoration: none;
                display: inline-block;
                margin-left: 10%;
                margin-right: 10%;
                width: 80%;
                height: 70px;
                font-size: 1em;
                font-weight: 800;
                background-color: #A3006B;
                border: none;


                &:hover {
                    cursor: pointer;
                    background-color: #FFACFC;
                    color: black;
                    box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);

                }
            }

            .checkboxContainer {
                margin-left: 10%;
                margin-right: 10%;
                margin-top: 10px;
                border-top: solid black 1px;

                .checkboxLabel {
                    font-size: 0.9em;
                    font-weight: 800;
                }
            }
        }
    }

}

.bakeryEditProductContainer::-webkit-scrollbar{
    display: none;
}