.tooltipText{
    font-size: 15px;
    font-weight: 800;
    color: #FFACFC;
}

.cartItemContainer{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-bottom: 1px solid rgb(196, 196, 196);
    // width: fit-content;
    background-color: white;
    justify-content: space-between;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

    .cartItemImage{
        // width: 328px;
        height: 250px;
        object-fit: cover;
        border-radius: 5px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .cartItemNameAndPriceContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // background-color: red;
        padding: none;
        height: fit-content;

        .cartItemName{
            text-align: left;
            // font-size: 28px;
            font-size: 1.31rem;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 600;
            margin-left: 5px;
            margin-right: 10px;
            margin-top: 5px;
            margin-bottom: 10px;
            height: fit-content;
            padding: none;
            height: fit-content;
        }

        .cartItemPrice{
            height: fit-content;
            text-align: right;
            margin-right: 10px;
            margin-top: 7px;
            margin-bottom: auto;
            font-size: 1rem;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 500;
            padding: none;
            height: fit-content;
        }
    }

    .cartItemCakeSizeContainer{
        margin-top: -6px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: none;
        height: fit-content;

        .cartItemTextTitle{
            text-align: left;
            // font-size: 28px;
            font-size: 0.9rem;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 600;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 5px;
            margin-bottom: 10px;
            height: fit-content;

        }

        .cartItemCakeSize{
            height: fit-content;
            text-align: right;
            margin-right: 10px;
            margin-top: 7px;
            margin-bottom: auto;
            font-size: 0.8rem;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 500;
            padding: none;
            height: fit-content;

        }
    }

    .cartItemColorCakeTextAndEditButtonContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: -6px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 5px;
        padding-top: 10px;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        height: fit-content;

        &:hover {
            border: solid rgb(240, 240, 240) 2px;
        }

        .cartItemColorAndCakeTextContainer{
            display: flex;
            flex-direction: column;
            min-width: 90%;
            max-width: 90%;
            

            .cartItemCakeColorContainer{
                margin-top: -6px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: none;
                height: fit-content;

                .cartItemTextTitle{
                    text-align: left;
                    // font-size: 28px;
                    font-size: 0.9rem;
                    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                    font-weight: 600;
                    margin-left: 5px;
                    margin-right: 10px;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    height: fit-content;
                }

                .cartItemColor{
                    height: fit-content;
                    text-align: right;
                    // margin-right: 10px;
                    margin-top: 7px;
                    margin-bottom: auto;
                    font-size: 0.9rem;
                    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                    font-weight: 500;
                    padding: none;
                    height: fit-content;
                }
            }

            .cartItemCakeTextContainer{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .cartItemTextTitle{
                    text-align: left;
                    font-size: 0.9rem;
                    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                    font-weight: 600;
                    margin-left: 5px;
                    margin-right: 10px;
                    margin-top: -2px;
                    margin-bottom: 10px;
                    height: fit-content;
                }

                .cartItemCakeText{
                    margin-top: -6px;
                    margin-left: 5px;
                    // margin-right: 5px;
                    color: rgb(146, 146, 146);
                    font-size: 0.9rem;
                    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                    font-weight: 400;
                }
            }

        }

        .cartItemEditButton{
            margin-right: 5px;
            height: 25px;
            width: fit-content;
            // width: 30px;
            background-color: #9C27B0;
            border-radius: 50%;
            border: none;
            margin-bottom: 3px;
            &:hover {
                cursor: pointer;
                background-color: #FFACFC;
                box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
            }
        }


    }

    .productQuantityIncreaseDeacreaseAndRemoveCartItemContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10px;
        // margin-right: 10px;
        justify-content: space-between;
        margin-top: 5px;
        margin-bottom: 5px;


        .productQuantityIncreaseDeacrease{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100px;
            margin-right: 15px;

            .productQuantityIncrease{
                // margin-right: 5px;
                height: 30px;
                width: 30px;
                font-size: 1.4em;
                font-weight: 600;
                color: white;
                background-color: #9C27B0;
                border-radius: 50%;
                border: none;
                margin-bottom: 3px;
                &:hover {
                    cursor: pointer;
                    color: black;
                    background-color: #FFACFC;
                    // box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
                }
            }

            .productQuantity{
                margin-left: 10px;
                margin-right: 10px;
                font-size: 0.8rem;
            }

            .productQuantityDeacrease{
                // margin-right: 5px;
                height: 30px;
                width: 30px;
                font-size: 1.4em;
                font-weight: 600;
                color: white;
                background-color: #9C27B0;
                border-radius: 50%;
                border: none;
                margin-bottom: 3px;
                &:hover {
                    cursor: pointer;
                    color: black;
                    background-color: #FFACFC;
                    // box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
                }
            }
        }

        .cartItemRemoveButton{
            font-size: 0.9em;
            font-weight: 800;
            width: 150px;
            text-align: center;
            border: none;
            margin-right: 5px;
            border-radius: 5px;
            color: white;
            padding: 12px 16px;
            background-color: red;

            &:hover {
                cursor: pointer;
                color: black;
                background-color: rgb(192, 0, 0);
                box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
            }
        }
    }

}