.customerLoginContainer{
    // margin-top: 70px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // background-color: #FFACFC;
    background-image: url("../assets/BakeryBackground2.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
    .textContainer{
        margin-left: 45px;
   
        .loginBakeryTitle{
            color: white;
            font-size: 60px;
            font-style: bold;
        }
        .loginBakeryMoto{
            font-size: 16px;
            font-style: italic;
            color: white;
            margin-bottom: -6px;
        }
    }

    .customerLoginFormContainer{
        margin-right: 45px;
        background-color: white;
        align-items: center;
        width: 35%;
        border-radius: 10px;
        justify-content: center;

        .loginLogo {
            display: none;
            position: relative;
            top: 7px;
            left: calc(50% - 50px);
            width: 100px;
            border-radius: 55%;
            margin-bottom: 10px;
            cursor: pointer;
          }
       

        .customerLoginForm{
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-left: 50px;
            margin-right: 30px;
            

            .formTitle{
                font-weight: bold;
                font-size: 1.5em;
                margin-top: 40px;
                text-align: center;
                color: #A3006B;
                
            }

            .customerLoginFormLabel {
                color: black;
                text-align: left;
                font-size: 1em;
                font-weight: 550;
                margin-bottom: 2px;
            }

            .customerLoginFormInput{
                width: 95%;
                height: 15px;
                padding: 10px 0;
                font-size: 1rem;
                letter-spacing: 1px;
                margin-bottom: 10px;
                background-color: transparent;
                border-radius: 10px;
            }

            .forgotPasswordLink {
                font-size: 0.9em;
                text-decoration: none;
                margin-bottom: 10px;
                margin-top: 5px;
                color: black;

                &:hover{
                    cursor: pointer;
                    color: #A3006B;
                }
            }

            .customerLoginButton {
                cursor: pointer;
                color: #feffff;
                padding: 10px 12px;
                border-radius: 10px;
                text-align: center;
                margin-top: 10px;
                text-decoration: none;
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
                width: 40%;
                font-size: 1em;
                font-weight: 800;
                background-color: #A3006B;
                border: none;
                
        
                &:hover {
                  cursor: pointer;
                  background-color: #FFACFC;
                  color: black;
                  box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);

                }
              }
        
              p {
                color: black;
                text-align: center;
                font-weight: bolder;
                margin-top: 10px;
                margin-bottom: 10px;
                
              }
        
              .customerSignUpButton {
                cursor: pointer;
                color: #feffff;
                padding: 10px 12px;
                border-radius: 10px;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 30px;
                text-decoration: none;
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
                width: 45%;
                font-size: 1em;
                font-weight: 800;
                background-color: #A3006B;
                border: none;
                
        
                &:hover {
                  cursor: pointer;
                  background-color: #FFACFC;
                  color: black;
                  box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);

                }
              }
        }

        
    }

}