.forgotPasswordContainer {
    margin-top: 70px;
    // height: 93.8vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // background-color: #FFACFC;
    background-image: url("../assets/BakeryBackground2.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .forgotPasswordAlertContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: fit-content;
        position: absolute;
        align-self: flex-start;
        margin-top: 30px;
    }

    .forgotPasswordTextContainer {
        display: flex;
        flex-direction: column;
        margin-left: 45px;

        .forgotPasswordTitle {
            color: white;
            font-size: 60px;
            font-style: bold;
        }

        .forgotPasswordText {
            font-size: 16px;
            font-style: italic;
            color: white;
            margin-bottom: -6px;
        }
    }

    .forgotPasswordFormContainer {
        margin-right: 45px;
        background-color: white;
        align-items: center;
        width: 35%;
        border-radius: 10px;
        justify-content: center;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;


        .forgotPasswordForm {
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-left: 50px;
            margin-right: 30px;

            .forgotPasswordformTitle {
                font-weight: bold;
                font-size: 1.5em;
                margin-top: 40px;
                text-align: center;
                color: #A3006B;
            }

            .forgotPasswordFormTextAndInputContainer {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                // box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
                box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
                border-radius: 5px;
                margin-bottom: 15px;

                &:hover {
                    border: solid rgb(240, 240, 240) 2px;
                }

                .forgotPasswordFormText {
                    text-align: left;
                    margin-top: 5px;
                    margin-bottom: 0px;
                    margin-left: 5px;
                    font-size: 0.8em;
                    color: rgb(34, 34, 34);
                    padding: 0%;

                }

                .forgotPasswordFormInput {
                    border: none;
                    height: 30px;
                    // margin-top: none;
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 1px;
                    font-size: 1.2em;
                    background-color: transparent;

                    &:focus {
                        outline: none;
                        background-color: transparent;
                    }

                }
            }


            .forgotPasswordSubmitButton {
                cursor: pointer;
                color: #feffff;
                padding: 15px 12px;
                border-radius: 10px;
                text-align: center;
                margin-top: 10px;
                text-decoration: none;
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
                width: 40%;
                font-size: 1em;
                font-weight: 800;
                background-color: #A3006B;
                border: none;
                margin-bottom: 30px;


                &:hover {
                    cursor: pointer;
                    background-color: #FFACFC;
                    color: black;
                    box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
                }
            }
        }
    }
}



$phoneSmall: 320px;
$phoneLarge: 640px;
$tablet: 768px;
$desktop: 1024px;

@media screen and (min-width: $phoneSmall) and (max-width: $phoneLarge){

    .forgotPasswordContainer {
        flex-direction: column;
        align-items: center;
        justify-items: center;
    
        .forgotPasswordTextContainer {
            display: none;
        }
    
        .forgotPasswordFormContainer {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: auto;
            margin-bottom: auto;
    
    
            .forgotPasswordForm {
                margin-left: 5%;
                margin-right: 5%;
    
    
                .forgotPasswordformTitle {
                    font-size: 1.4em;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
    
                .forgotPasswordFormTextAndInputContainer {
                  
                    .forgotPasswordFormText {
                        font-size: 0.7em;
    
                    }
    
                    .forgotPasswordFormInput {
                        font-size: 1em;
    
                    }
                }
    
    
                .forgotPasswordLink {
                    font-size: 0.8em;
                }
    
                .forgotPasswordButton {
                    padding: 13px 10px;
                    font-size: 0.8em;
                }
    
                p {
                    font-size: 0.8em;
                }
    
                .forgotPasswordSubmitButton {
                    padding: 13px 12px;
                    font-size: 0.8em;
                }
            }
        }

    }
    
}