@import "./products";
@import "./product";
@import "./navbar";

body{
    top: 0;
    bottom: 0;
    height: fit-content;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}