.tooltipText{
    font-size: 15px;
    font-weight: 800;
    color: #FFACFC;
}

.product{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-bottom: 1px solid rgb(196, 196, 196);
    // width: 44%;
    background-color: white;
    // justify-content: space-between;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

    .productMedia{
        // width: 100%;
        height: 230px;
        object-fit: cover;
        border-radius: 5px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        &:hover{
            cursor: zoom-in;
        }
    }

    .productContent{
        // background-color: #FFACFC;
        // max-width: 328px;
        width: 100%;
        .productNameAndPrice{
            // background-color: green;
            display: flex;
            flex-direction: row;
            height: fit-content;
            align-items: center;
            justify-content: space-between;
            
            .productName{
                text-align: left;
                // font-size: 28px;
                font-size: 1.21rem;
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                font-weight: 600;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 5px;
                margin-bottom: 10px;
                height: fit-content;
            }
            .productprice{
                height: fit-content;
                text-align: right;
                margin-right: 10px;
                margin-top: 7px;
                margin-bottom: auto;
                font-size: 1rem;
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                font-weight: 500;
            }
        }

        .productDescription{
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            color: rgb(146, 146, 146);
            font-size: 0.9rem;
            line-height: 1.6;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 400;
            
        }

    }

    .productButtonsAndIconsContainer{
        // background-color: #FFACFC;
        margin-top: auto;
    
        .btn-addToCart{
            margin-left: 5px;
            margin-top: 20px;
            height: 35px;
            // width: 30px;
            border: none;
            background: none;
            margin-bottom: 3px;
            &:hover {
                cursor: pointer;
                background-color: #FFACFC;
                border-radius: 50%;
                box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);

            }
        }
    }

}