.product{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-bottom: 1px solid black;
    width: fit-content;

    .productMedia{
        width: 310px;
        height: 180px;
        object-fit: cover;
        border-radius: 5px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .productContent{
        background-color: #FFACFC;
        .productNameAndPrice{
            // background-color: green;
            display: flex;
            flex-direction: row;
            height: fit-content;
            justify-content: space-between;
            .productName{
                text-align: left;
                // font-size: 28px;
                font-size: 1.5rem;
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                font-weight: 400;
                margin-left: 5px;
                margin-top: 5px;
                margin-bottom: 10px;
                height: fit-content;
            }
            .productprice{
                height: fit-content;
                text-align: right;
                margin-right: 5px;
                margin-top: 5px;
                margin-bottom: auto;
                font-size: 1.5rem;
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                font-weight: 400;
            }
        }

        .productDescription{
            margin-top: 10px;
            margin-left: 5px;
            color: rgb(49, 49, 49);
            font-size: 0.875rem;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 400;
        }

    }

    .productButtonsAndIconsContainer{
        background-color: #FFACFC;
        .btn-addToCart{
            margin-left: 5px;
            margin-top: 25px;
            height: 35px;
            // width: 30px;
            border: none;
            background: none;
            margin-bottom: 3px;
            &:hover {
                cursor: pointer;
                background-color: white;
                border-radius: 50%;
            }
        }
    }

}