.resetPasswordContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    align-items: center;
    background-image: url("../assets/BakeryBackground2.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;


    .resetPasswordFormContainer{
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 420px;
        padding: 80px 40px 40px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        background-color: #FEFFFF;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

        .resetPasswordLogo{
            position: absolute;
            top: 7px;
            left: calc(50% - 65px);
            width: 130px;
            border-radius: 55%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            cursor: pointer;

            &:hover{
                box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(207, 207, 207);
            }
        }

        .resetPasswordText{
            font-weight: bold;
            font-size: 1.5em;
            margin-top: 70px;
            text-align: center;
            color: #A3006B;
        }

        .resetPasswordForm{
            display: flex;
            flex-direction: column;
            text-align: left;
            display: flex;
            flex-direction: column;

            .resetPasswordFormTextAndInputContainer {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                // box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
                box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
                border-radius: 5px;
                margin-bottom: 20px;

                &:hover {
                    border: solid rgb(240, 240, 240) 2px;
                }

                .resetPasswordFormText {
                    text-align: left;
                    margin-top: 5px;
                    margin-bottom: 0px;
                    margin-left: 5px;
                    font-size: 0.8em;
                    color: rgb(34, 34, 34);
                    padding: 0%;

                }

                .resetPasswordFormInput {
                    border: none;
                    height: 30px;
                    // margin-top: none;
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 1px;
                    font-size: 1.2em;
                    background-color: transparent;

                    &:focus {
                        outline: none;
                        background-color: transparent;
                    }

                }
            }
          
            .resetPasswordBtn{
                cursor: pointer;
                color: #feffff;
                padding: 18px 12px;
                border-radius: 10px;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 30px;
                text-decoration: none;
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
                width: 45%;
                font-size: 1em;
                font-weight: 800;
                background-color: #A3006B;
                border: none;
    
                &:hover {
                    cursor: pointer;
                    color: black;
                    background-color: #FFACFC;
                }
            }
        }


    }
    
}
