.resetPasswordContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    align-items: center;
    // justify-content: center;
    background-image: url("../assets/BakeryBackground2.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;


    .resetPasswordFormContainer{
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 420px;
        padding: 80px 40px 40px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        background-color: #FEFFFF;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);

        .resetPasswordLogo{
            position: absolute;
            top: 7px;
            left: calc(50% - 65px);
            width: 130px;
            border-radius: 55%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            cursor: pointer;

            &:hover{
                box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(207, 207, 207);
            }
        }

        .resetPasswordText{
            font-weight: bold;
            font-size: 1.5em;
            margin-top: 70px;
            text-align: center;
            color: #A3006B;
        }

        .resetPasswordForm{
            display: flex;
            flex-direction: column;
            text-align: left;
            display: flex;
            flex-direction: column;

            .labelPassword {
                color: black;
                text-align: left;
                font-size: 1em;
                font-weight: 550;
                margin-bottom: 2px;
                
            }
    
            .labelPasswordConfirmation {
                color: black;
                text-align: left;
                font-size: 1em;
                font-weight: 550;
                margin-bottom: 2px;
            }
    
            input {
                width: 95%;
                height: 15px;
                padding: 10px 0;
                font-size: 1rem;
                letter-spacing: 1px;
                margin-bottom: 10px;
                background-color: transparent;
                border-radius: 10px;
            }
          
            .resetPasswordBtn{
                cursor: pointer;
                color: #feffff;
                padding: 18px 12px;
                border-radius: 10px;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 30px;
                text-decoration: none;
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
                width: 45%;
                font-size: 1em;
                font-weight: 800;
                background-color: #A3006B;
                border: none;
    
                &:hover {
                    cursor: pointer;
                    color: black;
                    background-color: #FFACFC;
                }
            }
        }


    }
    
}
